.card-container{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    float: left;
    width: 200px;
    margin: 2px;
    background-color: whitesmoke;
}
.name{
    text-align: center;
}